<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="nav">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid head">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MQTT订阅调试程序</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container content">

    <table class="table table-bordered table-hover">
        <caption class="table_caption">正在订阅的主题:<%=topic_name%></caption>
        <thead>
        <tr>
            <th class="text-center">编号</th>
            <th class="col-md-10">消息</th>
            <th class="text-center">发布时间</th>
        </tr>
        </thead>
        <tbody>
        <% topics_log.forEach(function(item){ %>
        <tr>
            <td><%=item.id%></td>
            <td><a target="_blank" href="/f?msg=<%=item.message %>"><%=item.message %></a></td>
            <td>
                <%=""?'--':new Date((item.created_at) * 1000).toLocaleString().replace(new RegExp('/','g'),"-")%>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<link rel='stylesheet' href='/bootstrap/js/bootstrap.min.js' />
</body>
</html>
